#copyright          {
background-color:   darkgrey;
}

#copyright p        {
color:              whitesmoke;
}



#directions         {
background-color:   lightblue;
}

#directions h3      {
color:              darkblue;
}



#htmfr              {
background-color:   black;
}

#htmfr  h1          {
color:              whitesmoke;
}



#ingredients        {
background-color:   yellow;
}

#ingredients h3     {
color:              red;
}

input[type=text]    {
width:              100%;
padding:            12px 20px 12px 20px;    
margin:             8px 0px 8px 0px;
box-sizing:         border-box;
}



#navigation-bar     {
height:             500px;
}



section            {
height:            1000px;
}

#summary            {
background-color:   yellowgreen;
}

#summary h3         {
color:              whitesmoke;
}