<!DOCTYPE html>
<html lang="en"> 

<head>

<!--    File Path of Styles Sheet on the Local Computer:-
-->
<!--    <link href="C:\Users\Owner\Desktop\academics_primary-folder\software-development\sd_visual-studio-code\vsc_github\kjrm209_repository\repo_trent-global-college\component\section\echoe\styles.css" rel="stylesheet" type="text/css">
--> 
<!--    File Path of Styles Sheet on GitHub:-
-->
<link href="https://kjrm209.github.io/trent-global-college/component/section/echoe/styles.css" rel="stylesheet" type="text/css"> 
<meta charset="utf-8">
<meta content="initial-scale=1, width=device-width" name="viewport">
<title> index.html (section#section-echoe) </title>

</head>

<body>

<header><title> index.html (section#section-echoe) </title></header>

<!--    Suitable for the layout and display on an iPad by Apple Incorporated. 
-->
<section id="section-echoe">

<div id="r1-r2-c1-c5">

<ul class="header-left">
<li><a> About </a></li>
<li><a> Contact </a></li>
<li><a> Home </a></li>
</ul>

<ul class="header-right">
<li><a href="https://www.whatsapp.com"><img id="whatsapp" src="https://kjrm209.github.io/trent-global-college/image/whatsapp-glyph-coloured.png"></a></li>
<li><a href="https://www.instagram.com"><img id="instagram" src="https://kjrm209.github.io/trent-global-college/image/instagram-glyph-coloured.png"></a></li>
<li><a href="https://www.facebook.com"><img id="facebook" src="https://kjrm209.github.io/trent-global-college/image/facebook-glyph-coloured.png"></a></li>
</ul>

</div>

<article id="r2-r4-c1-c3"><img src="https://kjrm209.github.io/trent-global-college/image/alpha-hexagon-sixty-four-delta.JPG"></article>
<article id="r2-r4-c3-c4"> 2 </article>
<article id="r4-r5-c1-c4"> 3 </article>

</section>

</body>

</html>