<!--    Date: 07 August 2021
        Time: 1815 HRS

[1] File Path of this HyperText Markup Language file - on the Local Computer (Laptop):-
C:\Users\Owner\Desktop\academics_primary-folder\software-development\sd_visual-studio-code\vsc_github\kjrm209_repository\repo_food-and-beverage-restaurant\component\navigation-bar\index.html   

[2] Refer: for Further Information on digital resources found through the above-mentioned File Path:-
(a)  styles.css
(b)  styles.scss
(c)  script.js   
-->

<!DOCTYPE html>
<html lang="en">

<head>

<!--    File Path on GitHub:-
-->
<link href="https://kjrm209.github.io/trent-global-college/component/navbar/styles.css" rel="stylesheet" type="text/css">    

<!--    File Path on the Local Computer:- 
-->
<!--  <link href="C:\Users\Owner\Desktop\academics_primary-folder\software-development\sd_visual-studio-code\vsc_github\kjrm209_repository\repo_trent-global-college\component\navbar\styles.css" rel="stylesheet" type="text/css">  
-->
</head>

<body>

<header>
<title> navbar </title>
</header>

<main>

<div id="page-one">

<div id="navbar-alpha">
<!--    08 August 2021: Comments:-
        The width and height of both the Unordered Lists have 'overlapped' each other.
-->
<ul class="inline-left">
<li><a> About   </a></li>
<li><a> Contact </a></li>
<li><a> Home    </a></li>
</ul>

<!--    Important Notes dated 08 August 2021:-
        [1] The respective Trademarks of these three social media brands must be obtained.
        [2] The use of the Brand Symbols must follow the guidelines laid out in the Terms 
        and Conditions. (subject to the international laws on Copyright.)
-->

<!--    08 August 2021: Refer to 'WhatsApp':-
        [1]     The web link which has been input to the Attribute is intended to lead 
           users to connect with the Hotel's Duty Phone Number.
        [2]     It may be useful to introduce a 'Show you are a human' system, so as to
           prevent spam text messages or phone calls to the linked Phone Number.
        [3]     https://iconscout.com/icon/whatsapp-3770982
-->
<ul class="inline-right"> 
<li><a href="https://www.whatsapp.com"><img id="whatsapp" src="https://kjrm209.github.io/trent-global-college/image/whatsapp-glyph-coloured.png">    </a></li>
<li><a href="https://www.instagram.com"><img id="instagram" src="https://kjrm209.github.io/trent-global-college/image/instagram-glyph-coloured.png"> </a></li>
<li><a href="https://www.facebook.com"><img id="facebook" src="https://kjrm209.github.io/trent-global-college/image/facebook-glyph-coloured.png">    </a></li>
</ul>

</div>
<br>

<div id="navbar-bravo">

<ul>
<li><a class="active"> About </a></li>
<li><a> Contact              </a></li>
<li><a> Home                 </a></li>
</ul>

</div>

<div id="navbar-charlie">

<ul>

<li><a>  Home  </a></li>
<li><a>  News  </a></li>
<li class="dropdown">   
<a class="dropbtn"> Dropdown </a>
<div class="dropdown-content">
<a> Link 1 </a>
<a> Link 2 </a>
<a> Link 3 </a>
</div>
</li>   

</ul>

</div>


</div>

</main>

<footer>

</footer>

</body>

</html>