<!DOCTYPE html>
<html lang="en">

<head>
<!-- GitHub Pages, Urban Resource Locator ("URL") link to online-published Stylesheet:-  
-->
<link href="https://kjrm209.github.io/trent-global-college/component/section/alpha/styles.css" rel="stylesheet" type="text/css">
<!-- Personal Computer, local file path for Stylesheet:- 
 -->
<!-- <link href="C:\Users\Owner\Desktop\academics_primary-folder\software-development\sd_visual-studio-code\vsc_github\kjrm209_repository\repo_trent-global-college\component\section\alpha\styles.css" rel="stylesheet" type="text/css"> -->
<!--    28-08-2021: Added 'meta' tags. -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> index.html (div#section-alpha) </title>
</head>

<body>

<header><title> index.html (div#section-alpha) </title></header>

<div id="section-alpha">
<!--    22-08-2021: 'div#section-alpha':- 
-->
<!--    "How do I create a 3x3 grid via CSS?"
     https://stackoverflow.com/questions/37502266/how-do-i-create-a-3x3-grid-via-css/46260247
-->
<div id="header"><h2> Photo Exhibition </h2></div>

<div class="theme" id="photography">
<div class="cell" id="top-left"><img src="https://kjrm209.github.io/trent-global-college/image/alpha-hexagon-sixty-four-delta.JPG">  </div>
<div class="cell"><img src="https://kjrm209.github.io/trent-global-college/image/foxtrot-fifteen-echo.JPG">  </div>
<div class="cell" id="top-right"><img src="https://kjrm209.github.io/trent-global-college/image/juliet-ten-charlie.JPG">  </div>
<div class="cell" id="middle-left"><img src="https://kjrm209.github.io/trent-global-college/image/foxtrot-fifteen-echo.JPG">  </div>
<div class="cell"><img src="https://kjrm209.github.io/trent-global-college/image/juliet-ten-charlie.JPG">  </div>
<div class="cell" id="middle-right"><img src="https://kjrm209.github.io/trent-global-college/image/alpha-hexagon-sixty-four-delta.JPG">  </div>
<div class="cell" id="bottom-left"><img src="https://kjrm209.github.io/trent-global-college/image/juliet-ten-charlie.JPG">  </div>
<div class="cell"><img src="https://kjrm209.github.io/trent-global-college/image/alpha-hexagon-sixty-four-delta.JPG">  </div>
<div class="cell" id="bottom-right"><img src="https://kjrm209.github.io/trent-global-college/image/foxtrot-fifteen-echo.JPG">  </div>
</div>

</div>

</body>

</html>