<!DOCTYPE html>
<html lang="en">

<head>
<!--    Web Link to Cascading Style Sheets on GitHub:- 
-->
<link href="https://kjrm209.github.io/trent-global-college/component/section/bravo/styles.css" rel="stylesheet" type="text/css">

<!--    Local File Path to Cascading Style Sheets on Personal Computer:- 
-->
<!-- <link href="C:\Users\Owner\Desktop\academics_primary-folder\software-development\sd_visual-studio-code\vsc_github\kjrm209_repository\repo_trent-global-college\component\section\bravo\styles.css" rel="stylesheet" type="text/css"> -->
<!--    28-08-2021: Added 'meta' tags. -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> index.html (div#section-bravo)</title>
</head>

<!--    Most of the content in this index.html was made with close reference 
    to the Youtube Video linked below:-
        https://www.youtube.com/watch?v=QMnv3QrjZoU&ab_channel=edureka%21
-->

<body>

<header><title> index.html (div#section-bravo) </title></header>

<div id="center">
<!--    24-08-2021: 'div#section-bravo':-    
-->
<!--    "How to make elements float to center?"
    https://www.geeksforgeeks.org/how-to-make-elements-float-to-center/ -->
<h1> div#section-bravo </h1>
<h2> 'Journalism' Website </h2>
<p> This Paragraph may be used to described the types of syntax inputs in or around the P. </p>
<a href="https//www.google.com/" target="_blank"><button id="google"> Visit Google </button></a>
<a href="https://github.com/"><button id="github"> Visit GitHub </button></a>
<hr>
<img src="https://kjrm209.github.io/trent-global-college/image/foxtrot-fifteen-echo.JPG"> 

</div>

</body>

</html>
